:root {
  --blue: #004b18;
  --blue-2: #558875;
  --blue-3: #6f9c80;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Original layout properties restored */
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
  overflow: visible;
}

/* RESTORED NAV BAR SETTINGS */
.navbar {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  outline-offset: 0px;
  background-color: #fff;
  background-image: linear-gradient(90deg, #2b6560, #709e82);
  background-position: 0 0;
  border: 1px #fff;
  border-radius: 2rem;
  outline: 0 #333;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 30px 2rem 1.875rem;
}

.nav_wrap {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav-menu {
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.div-block-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

/* CANVA FONT STYLING ON ELEMENTS */
.logo-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

.nav-link {
  color: #fff;
  padding: 0 18px 0 3px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.bold-text {
  border-radius: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-left: 100px;
  padding-right: 0;
  font-weight: 400;
  display: block;
}

/* OTHER LAYOUT ELEMENTS RESTORED */
.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.section_navbar {
  padding: 3px;
}

/* ... (Remaining CSS for Clients, Footer, and Media Queries from Original Source) */
