:root {
  --white: white;
}

.body {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  object-fit: contain;
  background-image: url('../images/home.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  padding-top: 0;
  display: block;
}

.container {
  flex-flow: row;
  width: 990px;
  height: 100px;
  margin-left: 14px;
  margin-right: 14px;
  padding-top: 20px;
  display: block;
  position: static;
}

.navbar {
  box-sizing: border-box;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  object-fit: fill;
  background-color: #2b6560;
  border: 1px solid #2b3d2d;
  border-radius: 2rem;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 2rem 30px 2rem 1.875rem;
  display: block;
  position: relative;
  bottom: auto;
  left: auto;
  right: auto;
  overflow: visible;
}

.section {
  padding: 3px;
}

.container-2 {
  margin-top: 15px;
}

.navbar-2 {
  background-color: #fff;
  background-image: linear-gradient(#fff, #fff);
  border: 1px solid #000;
  margin-top: -63px;
}

.container-3 {
  border: 1px #fff;
}

.navbar-3 {
  outline-offset: 0px;
  background-color: #fff;
  border: 1px solid #2b3d2d;
  border-radius: 9px;
  outline: 3px #333;
  margin-top: -63px;
  margin-bottom: 0;
  padding-top: 2px;
  padding-left: 0;
  padding-right: 0;
}

.container-4 {
  margin-top: 24px;
  padding-top: 0;
}

.div-block {
  margin-top: -9px;
}

.div-block-2 {
  background-color: #fff;
  margin-top: 21px;
}

.body-2 {
  border-radius: 40px;
}

.div-block-3 {
  border: 1px solid #000;
  border-radius: 20px;
  margin-top: 27px;
  margin-bottom: 0;
  overflow: hidden;
}

.div-block-4 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fff;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: -42px;
  margin-bottom: 0;
  margin-right: -200px;
  display: block;
  overflow: hidden;
}

.div-block-5 {
  background-color: #fff;
}

.navbar-4 {
  background-color: #0000;
  background-image: linear-gradient(90deg, #2b6560, #709e82);
  border: 1px solid #2b3d2d;
  border-radius: 2rem;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 2rem 1.875rem;
  display: none;
  left: 0;
  right: 0;
}

.section-2 {
  border: 1px #2b3d2d;
  padding: 3px 10px 10px;
}

.container-5 {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.brand {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url('../images/Flourish-Graphics-White.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  margin-top: -27px;
  margin-bottom: 0;
  padding: 0;
  display: block;
  left: 455px;
  right: 0;
}

.text-block {
  font-family: Varela, sans-serif;
  font-size: 60px;
}

.nav-link {
  font-family: Varela Round, sans-serif;
  font-size: 22px;
}

.nav-link-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25rem;
  font-family: Varela Round, sans-serif;
  font-size: 22px;
  text-decoration: none;
  display: inline-flex;
  overflow: visible;
}

.nav-link-3 {
  color: #fff;
  margin-left: 0;
  margin-right: 250px;
  font-family: Varela Round, sans-serif;
  font-size: 22px;
}

.text-span {
  color: #fff;
  margin-left: -68px;
}

.text-span-2 {
  color: #fff0;
}

._2 {
  color: #bf9d86;
  margin-left: 0;
  font-size: 50px;
  position: relative;
  inset: 2px auto auto;
}

.image-social {
  width: 40px;
  max-width: none;
  margin-right: 0;
  padding-right: 0;
  display: inline-block;
  position: static;
  top: 0;
  right: auto;
}

.navbar3_component {
  background-image: linear-gradient(#2b6560, #2b6560);
  border: 1px #000;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 4.5rem;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
}

.navbar3_container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  place-items: center stretch;
  width: 100%;
  max-width: 90rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.navbar3_menu-button {
  padding: 0;
}

.navbar3_menu {
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 10px;
  display: flex;
  position: static;
}

.navbar3_logo-link-menu {
  padding-left: 0;
  display: none;
}

.navbar3_logo {
  width: 160px;
  margin: 7px 30px 0 0;
}

.navbar3_link {
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: .75rem;
  font-family: Varela Round, sans-serif;
  font-size: 22px;
  text-decoration: none;
  display: flex;
}

.navbar3_link.w--current {
  color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
}

.navbar3_menu-dropdown {
  margin-left: 0;
  margin-right: 0;
}

.navbar3_dropdown-toggle {
  grid-column-gap: .5rem;
  align-items: center;
  padding: .5rem 1rem;
  display: flex;
}

.dropdown-chevron {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.navbar3_dropdown-list.w--open {
  border: var(--\<unknown\|relume-variable-border-width\>) solid var(--\<unknown\|relume-variable-color-scheme-1-border\>);
  border-radius: var(--\<unknown\|relume-variable-radius-small\>);
  background-color: var(--\<unknown\|relume-variable-color-scheme-1-background\>);
  padding: 8px;
  position: absolute;
}

.navbar3_dropdown-link {
  padding: .5rem 1rem;
}

.navbar3_dropdown-link.w--current {
  color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
}

.navbar3_tablet-menu-button {
  border: 1px solid var(--\<unknown\|relume-variable-color-scheme-1-border\>);
  color: var(--\<unknown\|relume-variable-neutral-white\>);
  background-color: #000;
  margin-left: 1rem;
  padding: .5rem 1.5rem;
  display: none;
}

.navbar3_logo-link {
  padding-left: 0;
}

.button {
  border: 1px solid var(--\<unknown\|relume-variable-neutral-shade-7\>);
  background-color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
  color: var(--\<unknown\|relume-variable-neutral-white\>);
  text-align: center;
  padding: .75rem 1.5rem;
  text-decoration: none;
}

.button.is-navbar3-button {
  margin-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.navbar3_menu-background {
  display: none;
  position: static;
}

.right-nav-link_wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 40px;
  display: flex;
}

.navbar_comp {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border: 2px solid #2b3d2d;
  border-radius: 2.2rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 0;
  padding-bottom: 20px;
  padding-left: 0;
  display: flex;
}

.heading_print {
  color: #2b6560;
  -webkit-text-stroke-color: #2b6560;
  margin: 16px 40px 0 0;
  padding-bottom: 16px;
  font-family: Varela Round, sans-serif;
  font-size: 70px;
  line-height: 1.2;
}

.mobile-nav-link_wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  display: none;
}

.text-span-3 {
  color: #e8dfce;
  font-size: 50px;
  position: relative;
  top: 2px;
}

.text-span-4 {
  color: #74ad8c;
  font-size: 50px;
  position: relative;
  top: 2px;
}

.text-span-5 {
  color: #d6e8ce;
  font-size: 50px;
  position: relative;
  top: 2px;
}

@media screen and (max-width: 991px) {
  .navbar3_container {
    grid-auto-columns: 1fr;
    display: grid;
  }

  .navbar3_menu-button {
    margin-left: -.5rem;
    padding: 0;
  }

  .navbar3_menu-button.w--open {
    background-color: var(--\<unknown\|relume-variable-transparent\>);
  }

  .menu-icon3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon3_line-top {
    background-color: var(--white);
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon3_line-middle {
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon3_line-bottom {
    background-color: var(--white);
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar3_menu {
    z-index: 1;
    -webkit-text-fill-color: inherit;
    background-color: #2b6560;
    background-clip: border-box;
    border-right: 1px solid #000;
    border-radius: 2rem;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 100dvh;
    margin-left: 0;
    padding-bottom: 6.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
    transition: height .5s;
    display: block;
    position: absolute;
    inset: 0% auto 0% 0%;
    overflow: auto;
  }

  .navbar3_logo-link-menu {
    float: none;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    display: flex;
    position: static;
  }

  .navbar3_link {
    padding: .75rem 0;
    font-size: 1.125rem;
    position: static;
  }

  .navbar3_menu-dropdown {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    display: block;
    position: relative;
  }

  .navbar3_dropdown-toggle {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: .75rem 2rem .75rem 0;
    position: relative;
  }

  .dropdown-chevron {
    inset: auto 0% auto auto;
  }

  .navbar3_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .navbar3_dropdown-list.w--open {
    border-style: none;
    padding: 0;
    position: static;
  }

  .navbar3_dropdown-link {
    padding: .75rem 0 .75rem 5%;
  }

  .navbar3_tablet-menu-button {
    width: 100%;
    margin-top: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }

  .navbar3_menu-background {
    z-index: 0;
    background-color: #00000080;
    width: 100vw;
    height: 100vh;
    padding-bottom: 0;
    padding-right: 0;
    display: none;
    position: absolute;
    inset: 0%;
  }
}

@media screen and (max-width: 767px) {
  .navbar3_component {
    min-height: 4rem;
  }

  .navbar3_container {
    grid-template-columns: 1fr max-content;
  }

  .navbar3_menu {
    width: 90vw;
    padding-bottom: 5rem;
  }

  .navbar3_logo {
    width: 100px;
  }

  .button.is-navbar3-button {
    padding: .25rem 1rem;
  }

  .right-nav-link_wrap {
    display: none;
  }

  .mobile-nav-link_wrap {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .link_nav-social {
    margin-top: 20px;
  }

  #w-node-c94dc311-32ea-d9b6-efc2-03a6655540cb-ccc6af6b {
    order: -9999;
  }
}

